div[app_id="20D2EF7C-053B-403E-B846-EA6E1EC39183"]{
	a:link, a:visited,
	a:active, a:hover 
	 {
	 	text-decoration: none; 
	 	color: blue;
	 	cursor: pointer;
	 }
	
	a:hover {
		text-decoration: underline; 
		color: blue;
	}			

	.back_to_filter{
		display: none;
	}

	span.pr_label{
		width: 100px;
		padding: 5px;
		margin: 5px;
		display: inline-block;
		font-weight: bold;
	}

	span.pr_label_wf{
		width: 200px;
		padding: 5px;
		margin: 2px;
		display: inline-block;
		font-weight: bold;
	}

	li{
		font-size: 12px;
		font-weight: normal;
	}


	.spinning {
		 background-image: url("/static/purchaserequest/purchaserequest_app/images/wait24trans.gif");
		 width: 22px;
		 height: 22px;
		 display: none;
	}

	textarea{
		margin-top: 10px;
		width: 350px;
		height: 150px;
	}

	div.req_logview{
		display: none;
	}

	li.edit_pr{
		display: none;
	}
}

.gritter-without-image{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;

	a:link, a:visited,
	a:active, a:hover 
	 {
	 	text-decoration: none; 
	 	color: lime;
	 	cursor: pointer;
	 	font-size: 12px;
	 }
	
	a:hover {
		text-decoration: underline; 
		color: lime;
		font-size: 12px;
	}			

}


